<form class="share-form" (ngSubmit)="shareQuote()" #quotesForm="ngForm">
  <label for="author">
    <span>Author</span>
    <input
      type="text"
      name="author"
      id="author"
      required
      class="form-control"
      [(ngModel)]="author"
      #name="ngModel"
    />
    <p class="form-error" [hidden]="name.valid || name.pristine">
      The name of the author is required
    </p>
  </label>
  <label for="username">
    <span>Usermame</span>
    <input
      type="text"
      name="username"
      id="username"
      required
      class="form-control"
      [(ngModel)]="username"
      #name="ngModel"
    />
    <p class="form-error" [hidden]="name.valid || name.pristine">
      your username of the author is required
    </p>
  </label>
  <label for="quote">
    <span>Quote</span>
    <textarea
      name="quote"
      id="quote"
      required
      class="form-control"
      [(ngModel)]="quote"
      #name="ngModel"
    ></textarea>
    <p class="form-error" [hidden]="name.valid || name.pristine">
      Please provide a quote
    </p>
  </label>
  <!-- <button type="submit" class="btn btn-success" (click)="shareQuote()">
    Share
  </button> -->
  <input [disabled]="!quotesForm.valid" type="submit" value="Share" />
  <p class="form-error" *ngIf="!quotesForm.valid">
    Please fill all the fields to activate the submit button
  </p>
</form>
