/* - - - hero section styling - - - */
.main {
  width: 100%;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main h1 {
  font-size: 2.3vw;
  color: rgba(255, 255, 255, 0.7);
}

.main .under-head {
  margin-top: 0.5vw;
  height: 0.3vw;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1vw;
  width: 8vw;
}

.main #best-quote {
  padding: 3% 10%;
  position: relative;
}

.main #best-quote svg {
  position: relative;
  width: 10vw;
  color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  margin-left: 5%;
}

.main #best-quote .box {
  position: absolute;
  width: 15vw;
  height: 10vw;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1vw;
  margin-top: -13%;
  margin-left: 1.5%;
  z-index: 1;
  backdrop-filter: blur(0.5vw);
  border: solid rgba(255, 255, 255, 0.2) 0.1vw;
  border-color: rgba(255, 255, 255, 0.2);
}

.main #best-quote .top-voted {
  position: relative;
  margin: -10% 10% 0 10%;
  font-weight: 500;
  padding: 7% 10% 5% 10%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.4vw);
  border-radius: 1vw;
  border: solid rgba(255, 255, 255, 0.2) 0.1vw;
  border-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1vw;
  line-height: 2vw;
  letter-spacing: 0.05vw;
  display: flex;
  flex-direction: column;
}

.main #best-quote .top-voted .author,
.main #best-quote .top-voted .tag {
  text-align: center;
  text-transform: capitalize;
}

/* - - - quote body styling - - - */
.quotes {
  width: 100%;
  padding: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotes app-quotes {
  display: flex;
}

/* - - - footer styling - - - */
footer {
  width: 100%;
  padding: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  padding: 1% 5%;
  font-size: 0.8vw;
  letter-spacing: 0.02vw;
  /* background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(0.5vw); */
}
