<div class="details">
  <div class="deets">
    <p class="author">Author: {{ singleQuote.author }}</p>
    <p class="votes">
      Upvotes :&nbsp;&nbsp;<span class="up">{{ singleQuote.upvotes }}</span
      >&nbsp;&nbsp;&nbsp; Downvotes :&nbsp;&nbsp;
      <span class="down">{{ singleQuote.downvotes }}</span>
    </p>

    <p class="user">
      Posted <span class="elapsed">{{ singleQuote.timeElapsed }}</span>
      {{ singleQuote.timeSuffix }}
      ago by
      <span class="username"> {{ singleQuote.username }}</span>
    </p>
  </div>
  <div class="delete">
    <button>Delete</button>
  </div>
</div>
